
  /* ///////////////////////////////////////////////////////// */

  /* links */
  .links {
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      font-size: clamp(14px, 1.9vw, 24px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: fixed;
      right: 3rem;
      top: 20rem;
      gap: 3rem;

  }

  #home {
      color: red;
      text-decoration: none;
  }

  #about {
      color: blue;
      text-decoration: none;
  }

  #contact {
      color: green;
      text-decoration: none;
  }

  /* //////////////////////////////////////////////////// */

  /* background */
  body {
      background-color: lightyellow;
      display: flex;
        flex-direction: column;
        align-items: center;
  }

  .coverImage img {

      text-align: center;
      width: 100%;
      max-width: 450px;
      height: auto;
      display: block;
      margin: 0 auto;

  }

  /* page name */
  #covergirl {
      display: flex;
      justify-content: center;
      /*-*/
      position: relative;
      margin-bottom: -110px;
      margin-right: 5rem;
      font-size: 8rem;
      font-weight: bold;
      word-spacing: 150px;
      z-index: -1;
      color: lavender;
      text-shadow: 5px 2px 10px rgb(134, 5, 80);

  }

  /* pageName */
  #pageName {
      position: absolute;
      right: 32rem;
      top: 40rem;
      font-size: 6rem;
      font-weight: bold;
      transform: rotate(-10deg);
      color: rgb(247, 121, 232);
      text-shadow: -5px 2px 1px rgb(134, 5, 80), -10px -3px 4px rgb(213, 156, 41);
      letter-spacing: 5px;
  }

  .introduction {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 35rem;
      top: 40rem;
      font-size: clamp(14px, 1.5vw, 18px);
  }

  #welcome {
      margin-top: 1rem;
      font-family: 'Arial', sans-serif;
      /*-*/
      width: 30%;
  }

  /* //////////////////////////////////////////////////// */
  /* about me section */

  #aboutPart {
      display: flex;
      flex-direction: column;
      margin-top: 14rem;
      background-color: rgb(191, 252, 203);
      padding: 2px 10px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }

  #aboutPart p {
      display: flex;
      justify-content: center;
      color: rgb(104, 2, 120);
      font-family: 'Arial', sans-serif;
      font-size: 24px;
  }

  .a {
      width: 20%;
      height: 100%;
      max-height:530px;
      position: absolute;
      padding: 10px 10px;

  }



  #trapezoid {
      width: 50%;
      max-width: 400px;
      height: 100%;
      max-height: 400px;
      background-color: rgb(252 191 200);
      position: relative;
      left: 20rem;
      clip-path: polygon(0 10%, 100% 0%, 80% 100%, 10% 100%);
      padding: 10px 120px;
      margin-top: 2px;

  }

  #parallelogram {
      width: 50%;
      max-width: 400px;
      height: 100%;
      max-height: 270px;
      background-color: lightblue;
      position: relative;
      left: 20rem;
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      margin: 10px 5px;
      padding: 1px 120px;
  }





    /* ------------------------ this s good ----------------------------- */

  /*  work  grid css */
    .works-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .grid-item {
        width: 100%;
        height: auto;
    }

    .grid-item img {
        width: 100%;
        height: auto;
        display: block;
    }




  /* Sparkle trail effect */
  .spark {
      position: fixed;
      pointer-events: none;
  }

  .spark:before,
  .spark:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '\2726';
      /* Unicode sparkle character */
      font-size: 20px;
  }

  .spark::before {
      color: transparent;
      text-shadow: 0 0 5px #fdfef9;
  }

  .spark::after {
      background-image: linear-gradient(to bottom right, #fac3da, #e2c8eb, #60dffb);
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }


  /* //////////////////////////////////////////////////// */
  /* test the pan */
  /* @keyframes panInLeft {
      from {
          opacity: 0;
          transform: translateX(-100px);
          /* start off scree to the left */
      /* } */

      /* to { */
          /* opacity: 1; */
          /* transform: translateX(0); */
          /*end in of natual position */
      /* } */
  /* } */

  /* apply animation */
  /* .works-grid { */
      /* animation: panInleft linear forward; */
      /* animation-timeline: view(); */
/* scroll(root) */
      /* animation-range: entry 0% cover 40%; */
  /* } */ 